
@{
    Layout = null;
}
@model ADALINweb.Domain.Entity.Users

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserGet</title>
</head>
<body>
    <p>@Model.Login</p>
</body>
</html>
